
{% extends 'base.html' %}


{% load static %}

{% block title %}About Dr. Faten  {% endblock %}
{% block content %}


<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image:url('/static/img/img2.webp');">
<div class="container h-100">
<div class="row h-100 align-items-center">
<div class="col-12">
<h2 class="title">Service</h2>
</div>
</div>
</div>
</div>
<div class="breadcumb--con">
<div class="container">
<div class="row">
<div class="col-12">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Service</li>
</ol>
</nav>
</div>
</div>
</div>
</div>


<section class="dento-services-area mt-50 mb-50">
<div class="container">
<div class="row">

<div class="col-12 col-sm-6 col-lg-4">
<div class="single-service--area text-center mb-50">
<div class="icon--">
<img src="{% static 'img/img31.webp' %}" alt="">
</div>
<h5>Teeth Whitening</h5>
<p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
mattis mollis maximus.</p>
</div>
</div>

<div class="col-12 col-sm-6 col-lg-4">
<div class="single-service--area text-center mb-50">
<div class="icon--">
<img src="{% static 'img/img32.webp' %}" alt="">
</div>
<h5>Dental Implants</h5>
<p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
mattis mollis maximus.</p>
</div>
</div>

<div class="col-12 col-sm-6 col-lg-4">
<div class="single-service--area text-center mb-50">
<div class="icon--">
<img src="{% static 'img/img33.webp' %}" alt="">
</div>
<h5>Missing Teeth</h5>
<p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
mattis mollis maximus.</p>
</div>
</div>

<div class="col-12 col-sm-6 col-lg-4">
<div class="single-service--area text-center mb-50">
<div class="icon--">
<img src="{% static 'img/img34.webp' %}" alt="">
</div>
<h5>Cosmetic Dentistry</h5>
<p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
mattis mollis maximus.</p>
</div>
</div>

<div class="col-12 col-sm-6 col-lg-4">
<div class="single-service--area text-center mb-50">
<div class="icon--">
<img src="{% static 'img/img35.webp' %}" alt="">
</div>
<h5>Examination</h5>
<p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
mattis mollis maximus.</p>
</div>
</div>

<div class="col-12 col-sm-6 col-lg-4">
<div class="single-service--area text-center mb-50">
<div class="icon--">
<img src="{% static 'img/img36.webp' %}" alt="">
</div>
<h5>Teeth Pain</h5>
<p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
mattis mollis maximus.</p>
</div>
</div>
</div>
</div>
</section>


<section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image:url(img/bg-img/7.jpg)">
<div class="container">
<div class="row">
<div class="col-12">

<div class="testimonials-slides owl-carousel">

<div class="single-testimonial-slide d-flex align-items-center">

<div class="testimonial-thumb">
<img src="{% static 'img/img3.webp' %}" alt="">
</div>

<div class="testimonial-content">
<h5>“I'd been avoiding the dentist for years due to bad experiences. A reminder SMS is sent the working day beforehand. I also had a call confirming appointment. I have been a patient ever since. My dentist is very reassuring and
very helpful. Excellent treatment and advice.”</h5>
<h6>Arron Ramsey</h6>
<p>Dental Patient</p>
</div>
</div>

<div class="single-testimonial-slide d-flex align-items-center">

<div class="testimonial-thumb">
<img src="{% static 'img/img23.webp' %}" alt="">
</div>

<div class="testimonial-content">
<h5>“I'd been avoiding the dentist for years due to bad experiences. A reminder SMS is sent the working day beforehand. I also had a call confirming appointment. I have been a patient ever since. My dentist is very reassuring and
very helpful. Excellent treatment and advice.”</h5>
<h6>Arron Ramsey</h6>
<p>Dental Patient</p>
</div>
</div>

<div class="single-testimonial-slide d-flex align-items-center">

<div class="testimonial-thumb">
<img src="{% static 'img/img1.webp' %}" alt="">
</div>

<div class="testimonial-content">
<h5>“I'd been avoiding the dentist for years due to bad experiences. A reminder SMS is sent the working day beforehand. I also had a call confirming appointment. I have been a patient ever since. My dentist is very reassuring and
very helpful. Excellent treatment and advice.”</h5>
<h6>Arron Ramsey</h6>
<p>Dental Patient</p>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="dento-blog-area section-padding-100-0 clearfix">
<div class="container">
<div class="row">

<div class="col-12">
<div class="section-heading text-center">
<h2>The Latest News</h2>
<div class="line"></div>
</div>
</div>
</div>
<div class="row">

<div class="col-12 col-md-6 col-lg-4">
<div class="single-blog-item mb-100">
<a href="blog-details.html">
<img src="{% static 'img/img10.webp' %}" alt="">
</a>

<div class="blog-content">
<a href="https://www.colgate.com/en-us/oral-health/respiratory-conditions/how-oral-bacteria-affect-your-lungs#:~:text=There%20is%20a%20clear%20link,increase%20the%20risk%20of%20emphysema." class="post-title">How your mouth bacteria can harm your lungs</a>
<p>Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam ...</p>
<div class="post-meta">
<a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
<a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
</div>
</div>
</div>
</div>

<div class="col-12 col-md-6 col-lg-4">
<div class="single-blog-item mb-100">
<a href="blog-details.html">
<img src="{% static 'img/img11.webp' %}" alt="">
</a>

<div class="blog-content">
<a href="https://ericssondental.com/top-toothpastes-dentists-recommend/" class="post-title">What is the best kind of toothpaste to use?</a>
<p>Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam ...</p>
<div class="post-meta">
<a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
<a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
</div>
</div>
</div>
</div>

<div class="col-12 col-md-6 col-lg-4">
<div class="single-blog-item mb-100">
<a href="blog-details.html">
<img src="{% static 'img/img12.webp' %}" alt="">
</a>

<div class="blog-content">
<a href="ttps://www.medicalnewstoday.com/articles/321043#:~:text=Over%20time%2C%20this%20erosion%20could,are%20among%20the%20biggest%20offenders." class="post-title">Why you should avoid sipping your drinks</a>
<p>Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam ...</p>
<div class="post-meta">
<a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
<a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


{% endblock %}